# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/1. Singleton/Singleton/nbproject/private/
/1. Singleton/2. Adapter/nbproject/private/
/1. Singleton/Singleton/build/
/1. Singleton/3. Proxy/nbproject/private/
/1. Singleton/nbproject/private/
/2. Adapter/build/
/4. TemplateMethod/nbproject/private/
/5. Prototype/nbproject/private/
/4. TemplateMethod/build/
/6. FactoryMethod/nbproject/private/
/6. FactoryMethod/build/
/7. Iterator/nbproject/private/
/8. Composite/nbproject/private/
/9. ChainOfResponsibilities/nbproject/private/
/11. AbstractFactory/nbproject/private/
/10. AbstractFactory/nbproject/private/
/11. Facade/nbproject/private/
/12. Mememto/nbproject/private/
/12.Memento/nbproject/private/
/12. Memento/nbproject/private/
/12. Memento/build/
/12. Mememto/build/
/13. Builder/nbproject/private/
/14. Flyweight/nbproject/private/
/15. Command/nbproject/private/
/12. Mememto/dist/
/10. AbstractFactory/build/
/16. State/nbproject/private/
/17. Strategy/nbproject/private/
/18. Bridge/nbproject/private/
/19. Decorator/nbproject/private/
/19. Decorator/build/
/16. State/dist/
/16. State/build/
/20. Mediator/nbproject/private/
/21. Observer/nbproject/private/
/20. Mediator/dist/
/20. Mediator/build/
/aaaa/nbproject/private/
/dsd/nbproject/private/
/dsd/build/
/dsd/dist/
/okaf/nbproject/private/
/okaf/build/
/okaf/dist/
/22. Visitor/nbproject/private/