/*
 * Empty Stylesheet file.
 */

Button{
    -fx-skin: "com.sun.javafx.scene.control.skin.ButtonSkin";
    -fx-background-color: red;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-text-fill: white;
}

Button:focused {
    -fx-color: -fx-focus-color;
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-radius:  0, 0, 0, 0;
}